/* common */
article,
footer,
header,
menu,
nav,
section {
    display: block;
}

html {
    position: relative;

    height: 100%;

    font-size: 14px;
}

body {
    height: 100%;
    margin: 0;

    font-family: "helvetica neue", arial, "hiragino sans gb", stheiti, "microsoft yahei", "wenquanyi micro hei", sans-serif;
}
/* header */
#header-cont {
    position: relative;
    overflow: hidden;

    min-width: 860px;
    height: 60px;

    background-color: #ddd;
}

#header-title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1.6em;

    height: 100%;

    font-size: 1.6em;

    color: #909090;
}
/* menu */
menu {
    margin: 0;
    padding: 0;
}

.tab-wrap,
#mission-side {
    position: absolute;
    top: 60px;
    bottom: 0;

    box-sizing: border-box;
    width: 230px;
    min-height: 400px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;

    background-color: #f2f2f2;
}

#tab-title {
    font-size: 1em;
}

#all-mission {
    margin: 1.5em 0 1em 1em;

    cursor: pointer;
}

#tabulation {
    box-sizing: border-box;
    padding-left: 1em;
}

#tabulation ul {
    margin: 0.4 0 0.4 0.5;
    padding-left: 0;
}

#tab-ul li {
    margin-left: 0.5;

    list-style: none;
    cursor: pointer;
}

#tab-ul li:before {
    content: "";

    display: inline-block;

    width: 20px;
    height: 20px;

    vertical-align: middle;

    background-image: url("../img/icon-sprite.png");
    background-repeat: no-repeat;
    background-position: -90px 0;
}

#tab-ul .tab-tree-li {
    background: none;
    cursor: default;
}

#tab-ul .tab-tree-li:hover {
    color: #000;
}

#tab-ul .tab-tree-li:before {
    display: none;
}

.folder-name {
    margin: 0;
    padding: 0.5 0 0 0.2;

    cursor: pointer;
}

.folder-name:before {
    content: "";

    display: inline-block;

    width: 20px;
    height: 20px;

    vertical-align: middle;

    background-image: url("../img/icon-sprite.png");
    background-repeat: no-repeat;
    background-position: -116px 0;
}

.folder-name:hover,
#tab-ul li:hover {
    color: #6abb42;
}

.folder-name:hover > .delete-folder {
    visibility: visible;
}

.delete-folder {
    visibility: hidden;
    float: right;

    width: 20px;
    height: 20px;
    margin-right: 1em;

    vertical-align: middle;

    background-image: url("../img/icon-sprite.png");
    background-repeat: no-repeat;
    background-position: -64px 0;
}

.add-at-bottom {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 40px;
    border-top: 1px solid #ccc;

    font-size: 0.9;
    line-height: 40px;
    text-indent: 4em;

    background-color: #f2f2f2;
}

.add-at-bottom-link {
    display: block;

    text-decoration: none;

    color: #000;
}

.add-at-bottom-link:before {
    content: "";

    display: inline-block;

    width: 20px;
    height: 20px;

    vertical-align: middle;

    background-image: url("../img/icon-sprite.png");
    background-repeat: no-repeat;
    background-position: -142px 0;
}
/* mission-side */
#mission-side {
    left: 230px;

    background-color: #fff;
}

#mission-type {
    height: 40px;
    border-bottom: 1px solid #ccc;

    line-height: 40px;
    text-align: center;

    background-color: #f2f2f2;
}

#mission-type > a {
    display: inline-block;

    padding: 0.2 0.6;
    border: none;

    font-size: 0.9;
    line-height: 1;
    text-decoration: none;

    color: #000;
}

#mission-type > a.type-active {
    border: 1px solid #ccc;

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background-color: #fff;
}
/* mission-timeline */
#mission-timeline ol {
    margin: 0;
    padding: 0;

    list-style: none;
}

#mission-timeline ol dl {
    margin: 0;
}

#mission-timeline ol dl dt,
#mission-timeline ol dl dd {
    box-sizing: border-box;
    height: 26px;

    line-height: 26px;
}

#mission-timeline ol dl dt {
    padding-left: 1em;

    background-color: #fafaee;
}

#mission-timeline ol dl dd {
    margin-left: 0;
    padding-left: 2em;

    cursor: pointer;
}

#mission-timeline ol dl dd:hover {
    background-color: #f2f2f2;
}

.font-active {
    color: #6abb42;
}
/* mission-cont */
#mission-cont {
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 460px;

    min-width: 400px;
    min-height: 400px;
    border-top: 1px solid #ccc;

    background-color: #fff;
}

#cont-title-bar {
    height: 50px;
    border-bottom: 1px solid #ccc;

    background-color: #f2f2f2;
}

#cont-title-bar h2 {
    display: inline-block;

    height: 50px;
    margin: 0;

    font-size: 1.2em;
    line-height: 50px;
    text-indent: 1em;
}

.icon-btn {
    display: none;
    float: right;

    margin: 10px 16px 0 0;
    border: none;
}

.word-btn {
    border: 0;
    border-bottom: 2px solid #000;

    font-size: 1em;
    text-decoration: none;

    color: #000;
}

.word-btn:hover,
.word-btn:active {
    border-bottom: 2px solid #6abb42;

    color: #6abb42;
}

#save-edit,
#cancel-edit {
    display: none;
    float: right;

    margin: 16px 16px 0 0;
}

#edit-mission {
    width: 30px;
    height: 30px;

    vertical-align: middle;

    background-image: url("../img/icon-sprite.png");
    background-repeat: no-repeat;
    background-position: -32px 0;
    /* background: url("../img/icon-write.png") no-repeat; */
}

#finish-mission {
    width: 30px;
    height: 30px;

    vertical-align: middle;

    background-image: url("../img/icon-sprite.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    /* background: url("../img/icon-finish.png") no-repeat; */
}

#cont-mission-time {
    height: 50px;
    border-bottom: 1px solid #ccc;

    line-height: 50px;
    text-indent: 1em;

    background-color: #fafaee;
}

#cont-mission-time span {
    display: inline-block;
}

#cont-mission-body {
    position: absolute;
    top: 100px;
    bottom: 0;
    overflow-y: auto;

    box-sizing: border-box;
    width: 100%;
    padding: 0.8;
}

#cont-mission-body p {
    margin: 0.5 0;
}

#cont-mission-body.mission-editing {
    overflow-y: hidden;

    padding: 0;
}
/* 编辑中的任务 */
#mission-cont input,
#mission-cont textarea {
    font: inherit;
}

#mission-cont input {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    border: 0;

    background-color: inherit;
}

#cont-mission-edit {
    position: absolute;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0.8;
}
